{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<h1>Page not found</h1>

<p>
    Whoops! That page doesn't exist.
</p>
{% endblock %}